[Unit]
Description=SUSEPrime systemd service
Before=display-manager.service 

[Service]
Type=oneshot
ExecStart=/usr/sbin/prime-select systemd_call
TimeoutSec=30

[Install]
WantedBy=multi-user.target
