[Unit]
Description=SUSEPrime systemd service
After=multi-user.target 
Before=display-manager.service 

[Service]
Type=oneshot
ExecStart=prime-select systemd_call

[Install]
WantedBy=multi-user.target
